.mainContainer {
  display: flex;
}

.contentContainer {
  width: 100%;
  background-color: #1f2e40;
}

.contentArea {
  width: 100%;
  height: calc(100% - 105px);
  display: flex;
  background: url('../img/car-wireframe.png') no-repeat;
  background-position: center;
}